# Бинарные и объектные файлы
*.o
*.obj
*.lo
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.out

# Временные файлы и логи
*~
*.swp
*.bak
*.tmp
*.log

# Файлы и каталоги сборки
*build*/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
cmake_install.cmake
install_manifest.txt
build.ninja
.ninja_deps
.ninja_log


# Артефакты тестирования
tests/*.test
tests/*.log

# IDE / редакторы
.vscode/
.idea/
*.code-workspace

# Скрытые файлы и папки
**/.*/*
**/.*

# Явно сохраняем эти файлы
!.clang-format
!.gitignore
!.gitattributes
